<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--    даем названиe бина (trenirovka)-->
    <bean id="trenirovka"
          class="Person"> <!-- указываем какой класс будем использовать-->
        <constructor-arg value="Vasya"/> <!--заполняем параметры конструктора-->
        <constructor-arg value="35"/> <!--заполняем параметры конструктора-->
    </bean>

    <bean id="animal"
          class="Animal">
        <constructor-arg value="Dog"/>
        <constructor-arg value="2"/>

    </bean>
</beans>